<% provide(:title, 'Contact') %>
<div class="h-screen font-sans contact bg-cover">
  <div class="cnt_div">
    <h1 class="cnt_div_h1">
      Contact B1 Technologies:
    </h1>
    <p class="cnt_div_p">
      Please feel free to reach us at;<br/>
      <i class="fas fa-phone"></i> 214.405.5497<br/>
      <i class="fas fa-envelope-open-text"></i> code.b1technologies@gmail.com<br/>
      <i class="fas fa-map-marker-alt"></i> <%= link_to '510 Turtle Cove BLVD #200 Rockwall TX 75087', 'https://www.google.com/maps/place/510+Turtle+Cove+Blvd,+Rockwall,+TX+75087/@32.9025318,-96.468892,17z/data=!3m1!4b1!4m5!3m4!1s0x864eaa7224339513:0xaa5ea20986a2fb60!8m2!3d32.9025273!4d-96.4667033', target: '_blank' %><br/>
      <br/>
  </div>
</div>
