<!-- hero -->
<div class="w-full py-24 px-6 bg-cover bg-no-repeat bg-center relative z-10" style="background-image: url('https://images.squarespace-cdn.com/content/v1/5b1c450a5ffd2031c58b74c1/1535860027471-WZ2TN6UV3QAV8WUTH74H/ke17ZwdGBToddI8pDm48kFTEgwhRQcX9r3XtU0e50sUUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcW7uEhC96WQdj-SwE5EpM0lAopPba9ZX3O0oeNTVSRxdHAmtcci_6bmVLoSDQq_pb/maxresdefault.jpg?format=2500w'); height: 450px">

  <div class="container max-w-4xl mx-auto text-center">
    <h1 class="text-xl leading-tight md:text-3xl text-center text-gray-100 mb-3" style="font-family: 'Cinzel', serif; font-size: 60px;">B1 Technologies</h1>
    <p class="text-md md:text-lg text-center text-white" style="font-family: 'Source Code Pro', monospace; font-size: 30px;">We Write It!</p><br/>
    <br/>
    <%= link_to 'Discover More', about_path, class: 'bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent shadow-2xl rounded' %>
  </div>

</div>
<!-- /hero -->

<!-- home content -->
<div class="w-full px-6 py-12 bg-white">
  <div class="container max-w-4xl mx-auto text-center pb-10">
    <h3 class="text-xl md:text-2xl leading-tight text-center max-w-md mx-auto text-gray-900 mb-12" style="font-family: 'Cinzel', serif;">
      The <strong>FUTURE</strong> of Insurance Quoting!
    </h3>
    <h2 class="text-l md:text-xl leading-tight text-center max-w-md mx-auto text-gray-900 mb-12" style="font-family: 'Black Ops One', cursive;">
      List of Integrated Insurance Companies;
    </h2>
  </div>

  <div class="container max-w-4xl mx-auto text-center flex flex-wrap items-start md:flex-no-wrap">

    <div class="my-4 w-full md:w-1/3 flex flex-col items-center justify-center px-4">
      <img src="https://images.squarespace-cdn.com/content/v1/5ae9efc531d4df41d76f35e3/1525301493102-T03YDA241GV0IH1G9WYD/ke17ZwdGBToddI8pDm48kFA0ahHAGHjuNaF_Vl1jxQ5Zw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpzyqgLvpSU6w0_2H-R8u7Ok1NGATVn9Ne7JtSfDDfGkomtFEOw3WZ3shUBfy9qwCyI/markel_logo1.png" class="w-full h-64 object-contain mb-6" />

      <h2 class="text-xl leading-tight mb-2" style="font-family: 'Righteous', cursive;">Markel Insurance Agency</h2>
      <p class="mt-3 mx-auto text-sm leading-normal" style="font-family: 'Orbitron', sans-serif;">Get your quote directly from the reputable insurance agent, <strong>Markel</strong>, and with our system,
      we ensure high-quaility security combined with efficient work flow!</p>
    </div>

    <div class="my-4 w-full md:w-1/3 flex flex-col items-center justify-center px-4">
      <img src="https://s3-media0.fl.yelpcdn.com/bphoto/HdxzCD_Vg4hiE-evYxhoUg/348s.jpg" class="w-full h-64 object-contain mb-6" />

      <h2 class="text-xl leading-tight mb-2" style="font-family: 'Righteous', cursive;">IFG Insurance Agency</h2>
      <p class="mt-3 mx-auto text-sm leading-normal" style="font-family: 'Orbitron', sans-serif;">Quoting from multiple sources is our Key Core Concept. And we would not be 100% complete without
      <strong>IFG Insurance</strong> to assist in providing you with real-time quotes!</p>
    </div>

    <div class="my-4 w-full md:w-1/3 flex flex-col items-center justify-center px-4">
      <img src="https://cdn.generalliabilityinsure.com/images/pennamericagroupreviews.jpg?w=360&dpr=2.6" class="w-full h-64 object-contain mb-6" />

      <h2 class="text-xl leading-tight mb-2" style="font-family: 'Righteous', cursive;">PennAmerica</h2>
      <p class="mt-3 mx-auto text-sm leading-normal" style="font-family: 'Orbitron', sans-serif;">Another highly-reputable insurance agency, <strong>PennAmerica</strong>, is amongst our
      toolkit of producing the best quotes possible!</p>
    </div>

    <div class="my-4 w-full md:w-1/3 flex flex-col items-center justify-center px-4">
      <img src="https://trademarks.justia.com/media/og_image.php?serial=88002352" class="w-full h-64 object-contain mb-6" />

      <h2 class="text-xl leading-tight mb-2" style="font-family: 'Righteous', cursive;">Atlantic Casualty</h2>
      <p class="mt-3 mx-auto text-sm leading-normal" style="font-family: 'Orbitron', sans-serif;">Completing our Top-4 Insurance Quoting Systems, we have the fascinating organization, <strong>Atlantic Casualt</strong>,
      backing up our system as well.</p>
    </div>

    <div class="my-4 w-full md:w-1/3 flex flex-col items-center justify-center px-4">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1c/Nationwide_Mutual_Insurance_Company_logo.svg/1200px-Nationwide_Mutual_Insurance_Company_logo.svg.png" class="w-full h-64 object-contain mb-6" />

      <h2 class="text-xl leading-tight mb-2" style="font-family: 'Righteous', cursive;">NationWide</h2>
      <p class="mt-3 mx-auto text-sm leading-normal" style="font-family: 'Orbitron', sans-serif;">Coming alongside with the other popular insurance companies, we have also integrated <strong>Nationwide</strong> with
      our quoting system!</p>
    </div>

    <div class="my-4 w-full md:w-1/3 flex flex-col items-center justify-center px-4">
      <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQGAkP5vjlGYfQ/company-logo_200_200/0/1519898362089?e=2159024400&v=beta&t=iQnQvW5E8sDjahA2J_pQ2WlOqVrK4VleGHKoQUKYzm8" class="w-full h-64 object-contain mb-6" />

      <h2 class="text-xl leading-tight mb-2" style="font-family: 'Righteous', cursive;">Global Indeminty</h2>
      <p class="mt-3 mx-auto text-sm leading-normal" style="font-family: 'Orbitron', sans-serif;">And finally, to help put everything together and make it all work, we have <strong>Global Indeminty</strong> in order
      to provide you, and your customers, the most options possible for quoting!</p>
    </div>

  </div>
</div>
<!-- /home content -->

<!-- about -->
<div class="w-full px-6 py-12 text-left bg-gray-300 text-gray-700 leading-normal">
  <div class="container max-w-4xl mx-auto flex justify-center flex-wrap md:flex-no-wrap">
    <div class="w-full md:w-1-3">
      <h3 class="text-3xl mb-8 text-black leading-tight" style="font-family: 'Crimson Text', serif;">
        We Write It!
      </h3>

      <p class="mb-5" style="font-family: 'Cinzel', serif;">
        This is a very powerful statement that holds true to the bare core values of B1 Technologies. We write insurance quotes, and we
        write the code to make everything you see here work. In essence, we are the true base-line for ALL insurance companies to
        quickly and easily write new lines of inusrance without the hassle of navigating to several insurance company websites. How
        much time can you save writing in the same information for 3+ insurance companies? Instead, use the software we have written
        in order to save you hours of quoting prices. <br/>
        <br/>
        Now, you can truly take out the headache of quoting a new policy, save time, and money! All thanks to the hard work, sacrifice,
        and dedication of those at B1 Technologies who, writes, everything so you can do your job easier!
      </p>
    </div>
    <div class="w-full md:w-2-3 pt-10 md:px-6 md:pt-0">
      <img src="https://image.freepik.com/free-vector/blue-atom-cyber-circuit-future-technology-concept-background_42077-4750.jpg" class="w-full h-auto" />
    </div>
  </div>
</div>
<!-- /about -->
