.user
{
  /*background: url('https://images.unsplash.com/photo-1529788295308-1eace6f67388?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHw%3D&w=1000&q=80');*/
  background-repeat: no-repeat;
  background-size: contain;
}


.usr_intel
{
  font-family: 'Orbitron', sans-serif;
}

.usr_info
{
  font-family: 'Cinzel', serif;
  color: black;
  margin-top: 10px;
}
